USE [master]
GO
/****** Object:  Database [ExerciceHero]    Script Date: 26/04/2026 15:36:09 ******/
CREATE DATABASE [ExerciceHero]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ExerciceHero', FILENAME = N'C:\Users\jules\ExerciceHero.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ExerciceHero_log', FILENAME = N'C:\Users\jules\ExerciceHero_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ExerciceHero].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ExerciceHero]
GO
/****** Object:  Table [dbo].[Hero]    Script Date: 26/04/2026 15:36:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hero](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Health] [int] NOT NULL,
	[ImageURL] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HeroSpell]    Script Date: 26/04/2026 15:36:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HeroSpell](
	[HeroID] [int] NOT NULL,
	[SpellID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[HeroID] ASC,
	[SpellID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Login]    Script Date: 26/04/2026 15:36:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Player]    Script Date: 26/04/2026 15:36:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Player](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[LoginID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlayerHero]    Script Date: 26/04/2026 15:36:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlayerHero](
	[PlayerID] [int] NOT NULL,
	[HeroID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PlayerID] ASC,
	[HeroID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Spell]    Script Date: 26/04/2026 15:36:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Spell](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Damage] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Hero] ON 

INSERT [dbo].[Hero] ([ID], [Name], [Health], [ImageURL]) VALUES (1, N'Guerrier', 150, N'')
INSERT [dbo].[Hero] ([ID], [Name], [Health], [ImageURL]) VALUES (2, N'Mage', 80, N'')
INSERT [dbo].[Hero] ([ID], [Name], [Health], [ImageURL]) VALUES (3, N'Assassin', 100, N'')
SET IDENTITY_INSERT [dbo].[Hero] OFF
GO
INSERT [dbo].[HeroSpell] ([HeroID], [SpellID]) VALUES (1, 1)
INSERT [dbo].[HeroSpell] ([HeroID], [SpellID]) VALUES (1, 2)
INSERT [dbo].[HeroSpell] ([HeroID], [SpellID]) VALUES (1, 3)
GO
SET IDENTITY_INSERT [dbo].[Login] ON 

INSERT [dbo].[Login] ([ID], [Username], [PasswordHash]) VALUES (1, N'admin', N'EF92B778BAFE771E89245B89ECBC08A44A4E166C06659911881F383D4473E94F')
INSERT [dbo].[Login] ([ID], [Username], [PasswordHash]) VALUES (2, N'player1', N'EF92B778BAFE771E89245B89ECBC08A44A4E166C06659911881F383D4473E94F')
INSERT [dbo].[Login] ([ID], [Username], [PasswordHash]) VALUES (3, N'jules', N'03ac674216f3e15c761ee1a5e255f067953623c8b388b4459e13f978d7c846f4')
SET IDENTITY_INSERT [dbo].[Login] OFF
GO
SET IDENTITY_INSERT [dbo].[Player] ON 

INSERT [dbo].[Player] ([ID], [Name], [LoginID]) VALUES (1, N'Admin Player', 1)
INSERT [dbo].[Player] ([ID], [Name], [LoginID]) VALUES (2, N'Test Player', 2)
INSERT [dbo].[Player] ([ID], [Name], [LoginID]) VALUES (3, N'UserTest', 5)
SET IDENTITY_INSERT [dbo].[Player] OFF
GO
INSERT [dbo].[PlayerHero] ([PlayerID], [HeroID]) VALUES (1, 1)
INSERT [dbo].[PlayerHero] ([PlayerID], [HeroID]) VALUES (2, 2)
GO
SET IDENTITY_INSERT [dbo].[Spell] ON 

INSERT [dbo].[Spell] ([ID], [Name], [Damage], [Description]) VALUES (1, N'Coup d''épée', 25, N'Attaque basique à l''épée')
INSERT [dbo].[Spell] ([ID], [Name], [Damage], [Description]) VALUES (2, N'Charge furieuse', 40, N'Charge sur l''ennemi avec rage')
INSERT [dbo].[Spell] ([ID], [Name], [Damage], [Description]) VALUES (3, N'Bouclier de fer', 0, N'Réduit les dégâts reçus')
SET IDENTITY_INSERT [dbo].[Spell] OFF
GO
ALTER TABLE [dbo].[HeroSpell]  WITH CHECK ADD FOREIGN KEY([HeroID])
REFERENCES [dbo].[Hero] ([ID])
GO
ALTER TABLE [dbo].[HeroSpell]  WITH CHECK ADD FOREIGN KEY([SpellID])
REFERENCES [dbo].[Spell] ([ID])
GO
ALTER TABLE [dbo].[Player]  WITH CHECK ADD FOREIGN KEY([LoginID])
REFERENCES [dbo].[Login] ([ID])
GO
ALTER TABLE [dbo].[PlayerHero]  WITH CHECK ADD FOREIGN KEY([HeroID])
REFERENCES [dbo].[Hero] ([ID])
GO
ALTER TABLE [dbo].[PlayerHero]  WITH CHECK ADD FOREIGN KEY([PlayerID])
REFERENCES [dbo].[Player] ([ID])
GO
USE [master]
GO
